In [1]:
import pandas as pd
import numpy as np

In [5]:
raw_data = pd.read_csv("nutrition_2023_households.csv")

,case_id,closed,date_closed,opened_by,client_code,client_gender,client_name,client_phone,control_myagro,country,...,respondent_phone,sample_round,survey_count,verifier_eligibilite,village,village_code,zone,surveyor_name,site_code,username
0,82b0b868-f1c9-4cd5-9601-579af1e9a4aa,False,NaN,d1509f085907468790570995cf877e94,NaN,homme,aliou,777301752.0,control,Senegal,...,766765188.0,1.0,1.0,NaN,Village 3,ojd236,Zone C,NaN,NaN,NaN
1,7deefb25c15e402db19e26e140a64517,True,2023-08-16T20:55:58.743Z,4ef1428cc32608cf3ff19fd9fe2b3ec4,24881.0,femme,Abdoulaye Traore,729529476.0,myagro,Senegal,...,729529476.0,1.0,NaN,NaN,Watene Diassa,LJ379,Tamba,NaN,NaN,NaN
2,df9280e54e9947d5a870fa9270aa9c76,True,2023-08-16T20:55:58.781Z,4ef1428cc32608cf3ff19fd9fe2b3ec4,48125.0,femme,Moussa Traore,75861660.0,myagro,Mali,...,12345678.0,1.0,3.0,NaN,Diassa Deni,KN189,Lobougoula,NaN,NaN,NaN
3,689719e37a3c43c38c5af84b4b2039c4,True,2023-08-16T20:55:58.788Z,4ef1428cc32608cf3ff19fd9fe2b3ec4,57739.0,femme,Sana Bengaly,742641334.0,myagro,Senegal,...,742641334.0,1.0,NaN,NaN,Klela,QJ645,Tamba,NaN,NaN,NaN
4,2bfc8a8ecf4a4fd99f717f9c0515c503,True,2023-08-16T20:55:58.975Z,4ef1428cc32608cf3ff19fd9fe2b3ec4,90363.0,femme,Issouf Sanogo,77164240.0,myagro,Mali,...,12345678.0,1.0,1.0,NaN,Dougouperebougou,FN132,Lobougoula,NaN,NaN,NaN

In [ ]:
raw_data.head()

In [6]:
raw_data.columns

Index(['case_id', 'closed', 'date_closed', 'opened_by', 'client_code',
       'client_gender', 'client_name', 'client_phone', 'control_myagro',
       'country', 'date_identifie', 'date_opened', 'district', 'eligible',
       'eligible_review', 'gps', 'latitude', 'longitude', 'hs_compost',
       'hs_farming_is_main_income_source', 'hs_hectares_cultivated',
       'hs_household_members', 'hs_inputs_on_other_crop', 'hs_livestock',
       'hs_main_crop', 'hs_main_crop_other', 'hs_main_income_source',
       'hs_ml_ppi_children_under_11', 'hs_ml_ppi_iron', 'hs_ml_ppi_motorcycle',
       'hs_ml_ppi_radio', 'hs_ml_ppi_roof_material', 'hs_ml_ppi_toilet',
       'hs_ml_ppi_tv', 'hs_ml_ppi_walls_material', 'hs_ml_ppi_water_source',
       'hs_other_livestock', 'hs_package_type', 'hs_participant_gender',
       'hs_participant_is_client', 'hs_participant_is_respondant',
       'hs_remittance', 'hs_sn_ppi_children_6_and_under',
       'hs_sn_ppi_clothing_last_30_days', 'hs_sn_ppi_cows', 'hs_sn_ppi_fan',
       'hs_sn_ppi_gas', 'hs_sn_ppi_head_of_household_educated',
       'hs_sn_ppi_roof_material', 'hs_sn_ppi_table', 'hs_subsidies',
       'hs_used_fertilizer', 'hs_which_livestock', 'hs_working_adults',
       'hs_working_adults_ag', 'ineligibilite_details', 'initial_survey_done',
       'owner_id', 'owner_name', 'producteur_eligible', 'reporting_agent',
       'respondent_gender', 'respondent_is_client', 'respondent_name',
       'respondent_phone', 'sample_round', 'survey_count',
       'verifier_eligibilite', 'village', 'village_code', 'zone',
       'surveyor_name', 'site_code', 'username'],
      dtype='object')

In [7]:
raw_data.dtypes

case_id           object
closed              bool
date_closed       object
opened_by         object
client_code      float64
                  ...
village_code      object
zone              object
surveyor_name     object
site_code         object
username          object
Length: 74, dtype: object

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3707 entries, 0 to 3706
Data columns (total 74 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   case_id                               3707 non-null   object
 1   closed                                3707 non-null   bool
 2   date_closed                           425 non-null    object
 3   opened_by                             3707 non-null   object
 4   client_code                           1997 non-null   float64
 5   client_gender                         3706 non-null   object
 6   client_name                           3706 non-null   object
 7   client_phone                          3706 non-null   float64
 8   control_myagro                        3707 non-null   object
 9   country                               3707 non-null   object
 10  date_identifie                        1710 non-null   object
 11  date_opened                           3707 non-null   object
 12  district                              3707 non-null   object
 13  eligible                              3545 non-null   object
 14  eligible_review                       205 non-null    object
 15  gps                                   3306 non-null   object
 16  latitude                              3306 non-null   float64
 17  longitude                             3306 non-null   float64
 18  hs_compost                            2493 non-null   object
 19  hs_farming_is_main_income_source      2493 non-null   object
 20  hs_hectares_cultivated                2493 non-null   float64
 21  hs_household_members                  2493 non-null   float64
 22  hs_inputs_on_other_crop               1351 non-null   object
 23  hs_livestock                          2493 non-null   object
 24  hs_main_crop                          2493 non-null   object
 25  hs_main_crop_other                    29 non-null     object
 26  hs_main_income_source                 520 non-null    object
 27  hs_ml_ppi_children_under_11           1320 non-null   float64
 28  hs_ml_ppi_iron                        1320 non-null   object
 29  hs_ml_ppi_motorcycle                  1320 non-null   object
 30  hs_ml_ppi_radio                       1320 non-null   object
 31  hs_ml_ppi_roof_material               1320 non-null   object
 32  hs_ml_ppi_toilet                      1320 non-null   object
 33  hs_ml_ppi_tv                          1320 non-null   object
 34  hs_ml_ppi_walls_material              1320 non-null   object
 35  hs_ml_ppi_water_source                1320 non-null   object
 36  hs_other_livestock                    11 non-null     object
 37  hs_package_type                       1351 non-null   object
 38  hs_participant_gender                 2493 non-null   object
 39  hs_participant_is_client              2493 non-null   object
 40  hs_participant_is_respondant          2493 non-null   object
 41  hs_remittance                         2493 non-null   object
 42  hs_sn_ppi_children_6_and_under        1173 non-null   float64
 43  hs_sn_ppi_clothing_last_30_days       1173 non-null   object
 44  hs_sn_ppi_cows                        1173 non-null   object
 45  hs_sn_ppi_fan                         1173 non-null   object
 46  hs_sn_ppi_gas                         1173 non-null   object
 47  hs_sn_ppi_head_of_household_educated  1173 non-null   object
 48  hs_sn_ppi_roof_material               1173 non-null   object
 49  hs_sn_ppi_table                       1173 non-null   object
 50  hs_subsidies                          2493 non-null   object
 51  hs_used_fertilizer                    1142 non-null   object
 52  hs_which_livestock                    2385 non-null   object
 53  hs_working_adults                     2493 non-null   float64
 54  hs_working_adults_ag                  2493 non-null   float64
 55  ineligibilite_details                 198 non-null    object
 56  initial_survey_done                   3313 non-null   object
 57  owner_id                              3707 non-null   object
 58  owner_name                            1 non-null      object
 59  producteur_eligible                   1709 non-null   object
 60  reporting_agent                       201 non-null    object
 61  respondent_gender                     3679 non-null   object
 62  respondent_is_client                  3313 non-null   object
 63  respondent_name                       3679 non-null   object
 64  respondent_phone                      3679 non-null   float64
 65  sample_round                          3703 non-null   float64
 66  survey_count                          3504 non-null   float64
 67  verifier_eligibilite                  242 non-null    object
 68  village                               3707 non-null   object
 69  village_code                          3707 non-null   object
 70  zone                                  3707 non-null   object
 71  surveyor_name                         3595 non-null   object
 72  site_code                             3595 non-null   object
 73  username                              3595 non-null   object
dtypes: bool(1), float64(13), object(60)
memory usage: 2.1+ MB

In [9]:
raw_data.describe(include="all")

,case_id,closed,date_closed,opened_by,client_code,client_gender,client_name,client_phone,control_myagro,country,...,respondent_phone,sample_round,survey_count,verifier_eligibilite,village,village_code,zone,surveyor_name,site_code,username
count,3707,3707,425,3707,1.997000e+03,3706,3706,3.706000e+03,3707,3707,...,3.679000e+03,3703.000000,3504.000000,242,3707,3707,3707,3595,3595,3595
unique,3707,2,425,16,NaN,4,3428,NaN,2,2,...,NaN,NaN,NaN,15,232,233,12,9,9,9
top,82b0b868-f1c9-4cd5-9601-579af1e9a4aa,False,2023-08-16T20:55:58.743Z,b5f74d03a7cd3690ad89f05c7b046613,NaN,femme,Fatou Ndour,NaN,myagro,Senegal,...,NaN,NaN,NaN,autre_raison,Keur Soce Coumba,SJ991,Lobougoula,Aliou Faye,trd5226_ns,trd5226
freq,1,3282,1,838,NaN,2227,4,NaN,1997,1977,...,NaN,NaN,NaN,79,67,67,619,525,525,525
mean,NaN,NaN,NaN,NaN,2.792657e+06,NaN,NaN,4.394505e+08,NaN,NaN,...,4.372366e+08,1.496354,3.346176,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,3.048264e+06,NaN,NaN,3.558837e+08,NaN,NaN,...,3.581647e+08,0.500054,2.139917,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.019200e+04,NaN,NaN,0.000000e+00,NaN,NaN,...,0.000000e+00,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,1.284255e+06,NaN,NaN,7.507725e+07,NaN,NaN,...,7.439586e+07,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1.902485e+06,NaN,NaN,7.616672e+08,NaN,NaN,...,7.619374e+08,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,2.734432e+06,NaN,NaN,7.760477e+08,NaN,NaN,...,7.764336e+08,2.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,1.179554e+07,NaN,NaN,8.628246e+08,NaN,NaN,...,8.628246e+08,2.000000,29.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
[col for col in raw_data if "hs_" in col]

['hs_compost',
 'hs_farming_is_main_income_source',
 'hs_hectares_cultivated',
 'hs_household_members',
 'hs_inputs_on_other_crop',
 'hs_livestock',
 'hs_main_crop',
 'hs_main_crop_other',
 'hs_main_income_source',
 'hs_ml_ppi_children_under_11',
 'hs_ml_ppi_iron',
 'hs_ml_ppi_motorcycle',
 'hs_ml_ppi_radio',
 'hs_ml_ppi_roof_material',
 'hs_ml_ppi_toilet',
 'hs_ml_ppi_tv',
 'hs_ml_ppi_walls_material',
 'hs_ml_ppi_water_source',
 'hs_other_livestock',
 'hs_package_type',
 'hs_participant_gender',
 'hs_participant_is_client',
 'hs_participant_is_respondant',
 'hs_remittance',
 'hs_sn_ppi_children_6_and_under',
 'hs_sn_ppi_clothing_last_30_days',
 'hs_sn_ppi_cows',
 'hs_sn_ppi_fan',
 'hs_sn_ppi_gas',
 'hs_sn_ppi_head_of_household_educated',
 'hs_sn_ppi_roof_material',
 'hs_sn_ppi_table',
 'hs_subsidies',
 'hs_used_fertilizer',
 'hs_which_livestock',
 'hs_working_adults',
 'hs_working_adults_ag']

In [21]:
ppi_df = raw_data[col_ppi]

In [22]:
ppi_df.head()

,hs_ml_ppi_children_under_11,hs_ml_ppi_iron,hs_ml_ppi_motorcycle,hs_ml_ppi_radio,hs_ml_ppi_roof_material,hs_ml_ppi_toilet,hs_ml_ppi_tv,hs_ml_ppi_walls_material,hs_ml_ppi_water_source,hs_sn_ppi_children_6_and_under,hs_sn_ppi_clothing_last_30_days,hs_sn_ppi_cows,hs_sn_ppi_fan,hs_sn_ppi_gas,hs_sn_ppi_head_of_household_educated,hs_sn_ppi_roof_material,hs_sn_ppi_table
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
col_ppi = [col for col in list(raw_data.columns) if "ppi" in col]

In [ ]:
[col for col in raw_data if "hs_" in col]

['hs_compost',
 'hs_farming_is_main_income_source',
 'hs_hectares_cultivated',
 'hs_household_members',
 'hs_inputs_on_other_crop',
 'hs_livestock',
 'hs_main_crop',
 'hs_main_crop_other',
 'hs_main_income_source',
 'hs_ml_ppi_children_under_11',
 'hs_ml_ppi_iron',
 'hs_ml_ppi_motorcycle',
 'hs_ml_ppi_radio',
 'hs_ml_ppi_roof_material',
 'hs_ml_ppi_toilet',
 'hs_ml_ppi_tv',
 'hs_ml_ppi_walls_material',
 'hs_ml_ppi_water_source',
 'hs_other_livestock',
 'hs_package_type',
 'hs_participant_gender',
 'hs_participant_is_client',
 'hs_participant_is_respondant',
 'hs_remittance',
 'hs_sn_ppi_children_6_and_under',
 'hs_sn_ppi_clothing_last_30_days',
 'hs_sn_ppi_cows',
 'hs_sn_ppi_fan',
 'hs_sn_ppi_gas',
 'hs_sn_ppi_head_of_household_educated',
 'hs_sn_ppi_roof_material',
 'hs_sn_ppi_table',
 'hs_subsidies',
 'hs_used_fertilizer',
 'hs_which_livestock',
 'hs_working_adults',
 'hs_working_adults_ag']

In [12]:
c = "hs_compost"
c[:3]

'hs_'

In [13]:
[col for col in raw_data if col[0:3] == 'hs_']

['hs_compost',
 'hs_farming_is_main_income_source',
 'hs_hectares_cultivated',
 'hs_household_members',
 'hs_inputs_on_other_crop',
 'hs_livestock',
 'hs_main_crop',
 'hs_main_crop_other',
 'hs_main_income_source',
 'hs_ml_ppi_children_under_11',
 'hs_ml_ppi_iron',
 'hs_ml_ppi_motorcycle',
 'hs_ml_ppi_radio',
 'hs_ml_ppi_roof_material',
 'hs_ml_ppi_toilet',
 'hs_ml_ppi_tv',
 'hs_ml_ppi_walls_material',
 'hs_ml_ppi_water_source',
 'hs_other_livestock',
 'hs_package_type',
 'hs_participant_gender',
 'hs_participant_is_client',
 'hs_participant_is_respondant',
 'hs_remittance',
 'hs_sn_ppi_children_6_and_under',
 'hs_sn_ppi_clothing_last_30_days',
 'hs_sn_ppi_cows',
 'hs_sn_ppi_fan',
 'hs_sn_ppi_gas',
 'hs_sn_ppi_head_of_household_educated',
 'hs_sn_ppi_roof_material',
 'hs_sn_ppi_table',
 'hs_subsidies',
 'hs_used_fertilizer',
 'hs_which_livestock',
 'hs_working_adults',
 'hs_working_adults_ag']

In [ ]:
[col for col in raw_data if col[0:3] == 'hs_']

['hs_compost',
 'hs_farming_is_main_income_source',
 'hs_hectares_cultivated',
 'hs_household_members',
 'hs_inputs_on_other_crop',
 'hs_livestock',
 'hs_main_crop',
 'hs_main_crop_other',
 'hs_main_income_source',
 'hs_ml_ppi_children_under_11',
 'hs_ml_ppi_iron',
 'hs_ml_ppi_motorcycle',
 'hs_ml_ppi_radio',
 'hs_ml_ppi_roof_material',
 'hs_ml_ppi_toilet',
 'hs_ml_ppi_tv',
 'hs_ml_ppi_walls_material',
 'hs_ml_ppi_water_source',
 'hs_other_livestock',
 'hs_package_type',
 'hs_participant_gender',
 'hs_participant_is_client',
 'hs_participant_is_respondant',
 'hs_remittance',
 'hs_sn_ppi_children_6_and_under',
 'hs_sn_ppi_clothing_last_30_days',
 'hs_sn_ppi_cows',
 'hs_sn_ppi_fan',
 'hs_sn_ppi_gas',
 'hs_sn_ppi_head_of_household_educated',
 'hs_sn_ppi_roof_material',
 'hs_sn_ppi_table',
 'hs_subsidies',
 'hs_used_fertilizer',
 'hs_which_livestock',
 'hs_working_adults',
 'hs_working_adults_ag']